body{
				background: #ffe76a;
}
.table{
				margin-left: auto;
				margin-right: auto;
				margin-top: 400px;
}
button{
				background: #5357fa;
				color: white;
				border: 2px solid;
				border-color: #7dfa95;
				border-radius: 10px;
				padding: 20px 30px;
				text-transform: uppercase;
}
button:hover{
				background: #b0ff95;
				color: #404eff;
				padding: 15px 25px;
}
.pc{
				text-align: center;
				margin-top: 40px;
			 text-transform: uppercase;
			 font-size: 25px;
			 
}

.hasil{
				text-transform: uppercase;
				text-align: center;
}
